@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>




<address>
    <strong>İletişim : </strong>   <a href="mailto:tahsinsekizkardesler@gmail.com">tahsinsekizkardesler@gmail.com</a><br />
   
</address>