@{
    ViewBag.Title = "Ana Sayfa";
}


<div class="row">
    <div class="col-md-4">
        <h2>Hoşgeldiniz</h2>
        <p>
            Öğrenci Kayıt Düzenleme 
        </p>
        <p><a class="btn btn-default btn btn-success"  href="https://localhost:44396/Ogrenci/Index"> ÖĞRENCİ LİSTESİ &raquo;</a></p>
    </div>
   
    
</div>